@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700&display=swap");
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container2{
    min-height:20vh;
    align-items: center;
    position: relative;
    flex-direction: column;
    


}
.navbar2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left:0;
    background-color: rgba(244, 229, 196, 0.7);
    padding: 20px 60px;
}
.nav-links2{
    list-style: none;
    display: flex;
}
.nav-links2 li{
    margin-right: 20px;
}
.nav-links2 li a{
    font-size: 15px;
    text-decoration: none;
    color: #070707;
}

.content2{
    max-width: 900px;
    text-align: center;
    padding-block: 0px;
    
}
.content2 h1{
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;

}
.content2 p{
    color: #000;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    max-width: 663px;
    margin: 5px auto;
}


#contact {
    padding: 60px 150px;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
    font-family: "Lexend Deca", sans-serif;
}

#contact #contact-form {
    max-width: 400px;
    height: 500px;
    padding: 20px;
    justify-content: center;
    align-items: start;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 20px;
    background-color: #201f1f;
}
#contact #contact-form h2 {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.96px;
}
#contact #contact-form .field {
    width: 100%;
    justify-content: center;
    align-items: start;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 5px;
}
#contact #contact-form .field label {
    color: #ccc6c6;
    font-family: Lexend Deca;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.36px;
}
#contact #contact-form .field input {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    color: white;
    border-radius: 7px;
    border: 0.368px solid #8d8d8d;
    background: #343333;
}
#contact #contact-form button {
    color: #201f1f;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.42px;
    border-radius: 7px;
    background: #f3f25b;
    padding: 9px 25px;
    cursor: pointer;
    transition: 0.3s;
}
#contact #contact-form button:hover {
    background: #fcfc38;
}
